<div class="row">
	<% if @tags.length %>
		<div class="col-md-12">
			<h3><%= @tags.length %> tags found</h3>
		</div>
		<div class="col-md-12">
			<% @tags.each do |tag| %>
				<%= render_tag_widget(tag) %>
			<% end %>
		</div>
	<% end %>
	<div class="col-md-12">
		<h3><%= @notes.length %> matching notes for &quot;<%= @query %>&quot;</h3>
	</div>
	<div class="col-md-12">
		<div class="row">
		<% @notes.each do |note| %>
			<%= render_note_widget(note) %>
		<% end %>
		</div>
	</div>
</div>