<div class="row">
	<div class="col-md-12">
		<h3><%= @note.title %></h3>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<a href="/note/delete/<%= @note.id%>" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete Note">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				<a href="/note/edit/<%= @note.id%>" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Edit Note">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 note-content"><%= @note.html %></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-12">
			<div class="alert alert-info">Created at <%= @note.created_at %></div>
			<div class="alert alert-info">Viewed <%= @note.views %> times</div>
		</div>
		<div class="col-md-12">
			<h5>Tags</h5>
			<ul>
				<% @note_tags.each do |tag| %>
					<li><a href="/tag/<%= tag.id %>/notes"><%= tag.name %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
